@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

* {
  font-family: 'Roboto';
}

body {
  margin: 0px;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background-color: rgb(187, 251, 230);
}

#booksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  width: 600px;
  text-align: center;
}

#bookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  height: 600px;
  padding: 0.5px;
}

#book {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  writing-mode: vertical-rl;
  text-align: center;
  width: 49.4px;
  height: 197px;
  margin: 0.5px;
  row-gap: 0px;
  cursor: default;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

#formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  gap: 30px;
  height: 600px;
  width: 400px;
}

.MuiInputBase-input {
  background: beige;
}
