body {
  margin: 0px;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

#booksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  width: 600px;
  text-align: center;
}

#bookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid black;
  margin: 10px;
  height: 600px;
  padding: 0.5px;
}

#book {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  writing-mode: vertical-rl;
  text-align: center;
  width: 49.4px;
  height: 197px;
  margin: 0.5px;
  row-gap: 0px;
  cursor: default;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  gap: 30px;
  height: 600px;
  width: 400px;
}
