@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

* {
  font-family: 'Roboto';
}

body {
  margin: 0px;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/room1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#booksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  width: 600px;
  text-align: center;
}

#bookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-image: url(./assets/bookshelf.jpeg);
  background-size: cover;
  border-radius: 5px;
  column-gap: 2px;
  row-gap: 24px;
  margin: 10px;
  height: 600px;
  padding: 21px;
}

#book {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  writing-mode: vertical-rl;
  text-align: center;
  width: 50.5px;
  height: 112px;
  padding: 3px;
  margin: 0.6px;
  cursor: default;
  color: white;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./assets/room1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 600px;
  width: 400px;
}

#popupButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#loginButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
